.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
}

.login-form {
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  /* border-radius: 10px; */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}

.login-form-button {
  width: 100%;
}
