.product-detail-page {
  padding: 20px 40px;
}
.product-detail-page .header-breadcrumb {
  display: flex;
  gap: 20px;
  align-items: center;
}
.product-detail-page .header-breadcrumb .icon-breadcrumb {
  color: #1b392d;
  font-size: 32px;
}

.product-detail-page .header-breadcrumb .breadcrumb-item {
  color: #1b392d;
  font-size: 12px;
}
.product-detail-page .product-space {
  margin-top: 40px;
}
.product-detail-page .product-detail .title {
  color: #1b392d;
  font-family: "MyCustomFont";
  font-size: 32px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.product-detail-page .product-detail .description {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #1b392d;
}
.product-detail-page .product-detail .cohat {
  margin-right: 20px;
  border-radius: 5px;
  font-weight: 600;
  user-select: none;
}

.product-detail-page .radio-group {
  /* display: flex; */
  gap: 20px;
}

.product-detail-page .radio-button {
  border: 0.5px solid #1b392d;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: transparent;
  color: #1b392d;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-right: 20px;
  margin-bottom: 5px;
  font-weight: 600;
}

.product-detail-page .radio-button:hover {
  background-color: #1b392d;
  color: rgb(255, 255, 255);
}

.product-detail-page .radio-button.selected {
  background-color: #1b392d;
  color: rgb(255, 255, 255);
}
.product-detail-page .radio-button-weight {
  border: 0.5px solid #1b392d;
  border-radius: 10px;
  width: 180px;
  height: 60px;
  padding: 10px 20px;
  background-color: transparent;
  color: #1b392d;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-right: 20px;
  margin-bottom: 5px;
  font-weight: 300;
  text-align: start;
}

.product-detail-page .radio-button-weight:hover {
  background-color: #1b392d;
  color: rgb(255, 255, 255);
}

.product-detail-page .radio-button-weight.selected {
  background-color: #1b392d;
  color: rgb(255, 255, 255);
}

.product-detail-page .style-gram {
  font-family: "MyCustomFont";
  font-size: 14px;
  margin-bottom: 8px;
}
.product-detail-page .radio-button-bag {
  /* background-color: transparent; */
  color: #ffffff;
  cursor: pointer;
  margin-right: 20px;
  margin-bottom: 5px;
  font-weight: 300;
  text-align: start;
  /* border-radius: 20px; */
  border: #00000000 1px solid;
}
.product-detail-page .radio-button-bag:hover {
  opacity: 0.5;
}

.product-detail-page .radio-button-bag.selected {
  opacity: 0.4;
  border: 2px #828282 solid;
  border-radius: 10px;
  /* font-size: 50px; */
}
.product-detail-page .style-bag {
  font-family: "MyCustomFont";
  /* font-size: 14px; */
}
.product-detail-page .quantity-controls {
  display: flex;
  justify-content: space-between;
  /* gap: 20px; */
  align-items: center;
  border: #1b392d solid 1px;
  padding: 10px 15px;
  border-radius: 10px;
}

.product-detail-page .quantity-controls .decrement,
.product-detail-page .quantity-controls .increment {
  padding: 5px 20px;
  font-size: 18px;
  font-weight: 800;
  cursor: pointer;
  border: #00000000 0px solid;
}

.product-detail-page .quantity-controls .quantity-value {
  margin: 0 10px;
  font-weight: bold;
  font-size: 18px;
}
.product-detail-page .add-to-cart {
  padding: 18px 20px;
  border: #1b392d 1px solid;
  width: 400px;
  text-align: center;
  border-radius: 10px;
  background-color: #1b392d;
  color: #ffffff;
  font-weight: bold;
}

.product-detail-page .add-to-cart:hover {
  cursor: pointer;
  opacity: 0.7;
}
.product-detail-page .add-to-cart:active {
  box-shadow: 1px 1px 1px 1px #7b7b7bd2;
}
.product-detail-page .giao-hang {
  margin: 20px 0;
  border-radius: 10px;
  border: #f0cac7 3px dashed;
  padding: 30px 10px;
}
